{% extends "layout.html.jinja2" %}
{% set page_title = 'Terms - ' + app_title %}

{% block content %}
  <article>
    <section class="flex flex-col place-items-center pt-8 xl:pt-16 pb-8 bg-gray-100 w-full border-b-2">
      <div class="mx-4 md:mx-12 xl:mx-32 xl:w-1/2 pb-6 text-lg text-gray-900">
        <div class="text-lg tracking-wider text-blue-500 uppercase">Agreement</div>
        <h1 class="text-4xl font-bold">Terms and Conditions</h1>
        <p class="py-4">Last updated: June 22, 2024</p>
        <p class="py-4">
          Our goal is to provide a software as a service solution to managing and valuing commercial real-estate using both industry standard methods and additional methods created by Us. The service is designed to be used by real-estate industry participants who understand the principals of real-estate finance and are looking for software to aid in their workflow.
        </p>
        <p class="py-4">
          By using ReturnSuite ("Service"), you are agreeing to be bound by the following terms and conditions ("Terms and Conditions").
        </p>
        <p class="py-2">
          Violations of any terms below will result in the termination of your Account. You agree to use the Service at your own risk.
        </p>
        <h2 class="text-2xl font-semibold pt-4">1. Account Terms</h2>
        <p class="py-2">
          <b>1.1</b> Your user account may only be used by one person. A single account shared by multiple users is not permitted. Registration of a user account is free so please create as many user accounts as necessary for your productive use of the Service.
        </p>
        <p class="py-2">
          <b>1.2</b> You are responsible for maintaining the security of your email and password. ReturnSuite cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
        </p>
        <p class="py-2">
          <b>1.3</b> You must not use the Service to carry on any illegal or unauthorized activities (including but not limited to copyright or trademark infringements).
        </p>
        <h2 class="text-2xl font-semibold pt-4">2. Payment and Refunds</h2>
        <p class="py-2">
          <b>2.2</b> Beyond any initial trial credit, you must enter a valid credit card to pay the monthly balance due on a User or Organization's account.
        </p>
        <p class="py-2">
          <b>2.3</b> Any payment missed will place the account immediately into dormancy. The balance must be paid to return the account to an activated state.
        </p>
        <p class="py-2">
          <b>2.4</b> There will be no refunds for payments of monthly usage charges.
        </p>
        <h2 class="text-2xl font-semibold pt-4">3. Cancellation and Termination</h2>
        <p class="py-2">
          <b>3.1</b> You are solely responsible for properly canceling accounts. An email or phone request to cancel an account is not considered cancellation. You can cancel an account at any time by deleting the account or removing the credit card payment method on file. It is a simple no questions asked cancellation procedure.
        </p>
        <p class="py-2">
          <b>3.2</b> If you decide to delete an Account, all the Content associated with that Account will be immediately deleted from the Service. This information can not be recovered once it has been deleted.
        </p>
        <p class="py-2">
          <b>3.3</b> ReturnSuite, in its sole discretion, has the right to suspend or terminate an Account at any time.
        </p>
        <p class="py-2">
          <b>3.4</b> ReturnSuite reserves the right to refuse service to anyone for any reason at any time.
        </p>
        <h2 class="text-2xl font-semibold pt-4">4. Copyright and Content Ownership</h2>
        <p class="py-2">
          <b>4.1</b> We claim no intellectual property rights over the material you provide to the Service. Your materials uploaded remain yours.
        </p>
        <p class="py-2">
          <b>4.2</b> You shall defend ReturnSuite against any claim, demand, suit or proceeding made or brought against ReturnSuite that Your Content, or Your use of the Service infringes or misappropriates the intellectual property rights of a third party or violates applicable laws.
        </p>
        <p class="py-2">
          <b>4.3</b> You shall indemnify ReturnSuite for any damages finally awarded against, and for reasonable attorney’s fees incurred by, ReturnSuite in connection with any such claim, demand, suit or proceeding; provided, that ReturnSuite
        </p>
        <ol class="pl-4">
          <li>
            <b>i)</b> promptly gives You written notice of the claim, demand, suit or proceeding.
          </li>
          <li>
            <b>ii)</b> gives You sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases ReturnSuite of all liability).
          </li>
          <li>
            <b>iii)</b> provides to You all reasonable assistance, at Your expense.
          </li>
        </ol>
        <h2 class="text-2xl font-semibold pt-4">5. General Conditions</h2>
        <p class="py-2">
          <b>5.1</b> You use the Service at your own risk. The service is provided on an "as is" and "as available" basis.
        </p>
        <p class="py-2">
          <b>5.2</b> You agree not to reproduce, duplicate, modify, sell or resell the Service without the express written permission by ReturnSuite.
        </p>
        <p class="py-2">
          <b>5.3</b> Do not hack into the Service or falsely imply that you are associated with the Service, ReturnSuite, or any other ReturnSuite service.
          <p class="py-2">
            <b>5.4</b> Questions about the Terms and Conditions should be sent to <a href="mailto:support@returnsuite.com" class="text-blue-500 hover:underline">support@returnsuite.com</a>.
          </p>
        </div>
      </section>
    </article>
  {% endblock content %}
