{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_math_overview" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_math_overview') }}">Key Math Principles in Finance</a></li>
  </ol>
  <article class="documentation-article">
    <h1 id="overview">Overview</h1>
    <h2>Summary of the key math concepts used in finance</h2>
    <p class="-my-2 text-gray-600">Last updated November 15, 2024</p>
    <br>
    <p>
      Financial analysts look at an asset as a series of cash flows that will
      happen in the future, including the cash that is expected to flow from the
      eventual sale of the asset. The fundamental question these analysts are
      trying to answer is, ‘How much is the future set of cash flows worth
      today?’ In this section we are going to go over a handful of economic
      concepts and mathematical tools that help to answer this question.
    </p>
    <p>
      Underlying everything is the <b>Time Value of Money</b>–the idea that
      financial benefits available today are more valuable than equivalent
      benefits in the future. This is because money we forgo today can be
      invested and returned to us with interest at a later date, so a dollar
      in the hand today is worth more than a dollar someone is going to hand
      you a year from now.
    </p>
    <p>
      The Time Value of Money means that for each cash flow, we need to know not
      only an amount (ex. $1,000) but also a time (ex. $1,000 a year into the
      future).
    </p>
    <p>
      To distinguish between money or value today and at some point in the future
      we use the terms <b>Present Value</b> (the value to someone today if they
      expect to receive future cash flows) and <b>Future Value</b> (the value at
      some point in the future of those same cash flows). Much of finance and
      financial analysis involves sliding our perspective either forwards or
      backwards in time so a series of cash flows can be consolidated into a
      single number. Most often it means converting Future Value cash flows
      (either positive or negative) to Present Values so they can be totalled
      and give us a <b>Net Present Value</b>.
    </p>
    <p>
      A <b>Discount Rate</b> (or the Cost of Capital) is the change in value
      that happens when you  convert a cash flow from one point in time to
      another–whether it’s being converted from a Future Value to a Present
      Value, a Present Value to a Future Value or even from one Future Value to
      another Future Value.
    </p>
    <p>
      In this course, we will look at <b>Perpetuities</b> and the
      <b>Gordon Growth Model</b>, which is the math we need to value a
      continuous, never-ending set of cash flows. Mastering these techniques is
      crucial if you want to assess the worth of long-term assets like property.
    </p>
    <p>
      We will also cover the concept of <b>Expected Value</b>, a statistical
      measure that forecasts the weighted average financial results from
      different investment scenarios, taking into account how likely each
      scenario is. This is a valuable tool as there is often uncertainty about
      exactly what will happen in the future. Will a tenant renew their lease,
      or will their unit be placed back on the market? Expected Values allows
      us to factor this uncertainty into our modeling.
    </p>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_time_value_of_money') }}" class="text-blue-500 hover:underline flex place-items-center tracking-wide">
        <span>Next: Time value of money</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
