{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_risk_rates" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_math_overview') }}">Key Math Principles in Finance</a></li>
  </ol>
  <article class="documentation-article">
    <h1 id="time-value-of-money">The Risk-Free Rate and the Risk-Adjusted Discount Rate</h1>
    <h2>How to determine the Risk-Free Rate and the Risk-Adjusted Discount Rate</h2>
    <p class="text-gray-700 text-lg py-2">
      The Risk-Free Rate is the rate of return an investor can get on a
      riskless investment while the Risk-Adjusted Discount Rate (RADR) is the
      Discount Rate required by an investor to be compensated for all the
      risks above and beyond the Risk-Free Rate.
    </p>
    <p>
      Typically, government securities like US Treasury bills, UK Gilts, German
      Bunds or Canadian Treasury bills are used as proxies for the Risk-Free
      Rate since they are as close to riskless as possible. However, most
      investments carry some degree of risk greater than government securities,
      so when investors speak about Discount Rates, they are often referring to
      the RADR or the All Risks Rate–the Rate that factors in all the risks
      associated with the specific investment.
    </p>
    <h3>RADR in Practice</h3>
    <p>
      A common method for determining an investment’s RADR is to begin with the
      Risk-Free Rate and add on a premium for each different component of risk
      that an investor is taking on with an investment. In real estate these
      could include risks such as specific property risk, location risk,
      tenant/credit risk, lease structure risk and an illiquidity premium.
    </p>
    <p>
      Let’s say we were considering an investment in an office property. The
      office is slightly older and considered a Class B property with a location
      slightly off mass transit. The tenants are a mix of relatively strong
      credit quality corporations, however a few of the leases are up for
      renewal shortly. How should we go about determining their Discount Rate?
    </p>
    <p>
      We would begin with the Risk-Free Rate–because of the long-term nature
      of real estate investment, the yield on 10-year government bonds is
      often used as a proxy for the Risk-Free Rate. We then may decide to
      add on various risk premiums:
    </p>
    <ul class="list-disc pl-8 text-gray-800 text-base pb-2 leading-8">
      <li>1.0% risk premium to account for the property being older and risks being less attractive to potential tenants in the future</li>
      <li>0.5% risk premium to account for location risk</li>
      <li>1.25% risk premium to account for the tenants having lower creditworthiness than the government</li>
      <li>0.75% risk premium to adjust for the risk of tenant turnover with the upcoming lease expiries</li>
    </ul>
    <figure>
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Risk Free Rate</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">4.25%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">
                <span class="mr-3">+</span>
                <span>Property Specific Risk</span>
              </th>
              <td class="border-b py-3 text-right px-8">1.0%</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">
                <span class="mr-3">+</span>
                <span>Location Risk</span>
              </th>
              <td class="border-b py-3 text-right px-8">0.5%</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">
                <span class="mr-3">+</span>
                <span>Credit Risk</span>
              </th>
              <td class="border-b py-3 text-right px-8">1.25%</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">
                <span class="mr-3">+</span>
                <span>Leasing Risk</span>
              </th>
              <td class="border-b py-3 text-right px-8">0.75%</td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Risk-Adjusted Discount Rate (RADR)</th>
              <td class="py-3 text-right px-8 font-semibold">7.75%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <figcaption>Example RADR calculation</figcaption>
    </figure>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_internal_rate_of_return') }}" class="text-blue-500 hover:underline flex place-items-center tracking-wide">
        <span>Next: Internal rate of return</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
