{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_valuation_approaches_market_approach" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_valuation_approaches_overview') }}">Valuation approaches</a></li>
  </ol>
  <article class="documentation-article">
    <h1>The Market Approach</h1>
    <h2>How to determine the value of real estate using the Market Approach</h2>
    <p>
      In broad terms, the Market Approach estimates value by comparing the asset
      to similar assets that have been sold recently. This process is based on
      the assumption that the market provides the best indicator of an asset's
      value. This approach is useful when there are a lot of transactions of
      relatively similar assets.
    </p>
    <p>
      The Market Approach is ideal for financial assets such as stocks or
      bonds–what is the value of a share in a widely traded company like
      Coca-Cola? The most recent trading price on the stock market.
    </p>
    <p>
      This makes valuation relatively simple–the value of a portfolio of
      stocks and bonds is easy to calculate and can be updated to the second.
    </p>
    <p>
      A non-financial example would be the used car market–it’s possible to
      determine a fairly accurate estimate of the sale price of a used car by
      comparing it to the previous sales of other cars of the same make, model,
      year, mileage and condition in your geographic region.
    </p>
    <p>
      In real estate, the Market Approach is often called a Comparative Market
      Analysis (CMA) and is most commonly used in residential real estate. For
      example, to determine the Market Value of a three-bedroom, two bathroom
      house, a valuer will find recent sales of similar houses in the same
      neighborhood–often called comparables or ‘comps’. The valuer will make
      adjustments for any slight differences in the comps between the house
      being valued to arrive at an estimated Market Value for the subject
      property.
    </p>
    <figure>
      <figcaption>[Insert Market Approach chart - showing subject property compared to 3 comps]</figcaption>
    </figure>

    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_valuation_approaches_cost_approach') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Cost approach</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
