{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_valuation_approaches_cost_approach" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_valuation_approaches_overview') }}">Valuation approaches</a></li>
  </ol>
  <article class="documentation-article">
    <h1>The Cost Approach</h1>
    <h2>How to determine the value of real estate using the Cost Approach</h2>
    <p>
      The Cost Approach bases value on the costs required to replace or
      reproduce an asset, minus any depreciation. The idea behind this approach
      is the principle of substitution—that a rational investor would not pay
      more for an asset than the cost to obtain an asset of equal utility,
      whether by purchase or by construction.
    </p>
    <p>
      The Cost Approach is most often used when there is a lack of comparable
      market data or an asset is so new, unique, or specialized that the main
      question around value is around the replacement costs. The Cost Approach
      is also often used for Insurance or by tax authorities, where the cost of
      replacing an asset is more relevant.
    </p>
    <p>
      A non-real estate example of the Cost Approach is a custom piece of
      machinery that is critical to a manufacturing process at a factory–there
      is no active market for the machinery and its income generating potential
      can’t be separated from the entire factory, so the best way to determine
      the value of the machinery is to start with it’s current replacement cost
      and make adjustments for its current level of depreciation.
    </p>
    <p>
      For real estate, it involves calculating what it would cost to build a
      similar property from scratch, then adjusting for obsolescence and land
      value. The approach will often be used for special-purpose assets like
      public infrastructure (roads, bridges, ports, etc.). In the private
      sector, the Cost Approach will be used for specialized owner-occupied
      properties with no comparable sales or leasing market data. For investment
      properties, the Cost Approach is often used for partially complete or
      brand new construction prior to income generation.
    </p>

    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_valuation_approaches_income_approach') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Income approach</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
