{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_introduction" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">Concepts</a></li>
    <li><a href="#">Introduction</a></li>
  </ol>
  <article class="documentation-article">
    <section>
      <h1 class="text-3xl tracking-wide font-semibold">Course introduction</h1>
      <h2>How assets are valued</h2>
      <p>
        In finance, <b>Market Value</b> is often synonymous with <b>Market Price</b>. The price
        of a stock, currency or commodity can easily be found online with up to
        the minute pricing information. An investor may have an opinion that
        differs from the Market Price, but their opinion doesn’t show up on their
        balance sheet and banks definitely don’t lend against it–what matters is
        the quoted price on the exchange.
      </p>
      <p>
        In <a href="https://www.ifrs.org/issued-standards/list-of-standards/">International Financial Reporting Standards (IFRS)</a>, quoted prices in
        active exchanges like those found on stock markets are classified as Level
        1 Valuations–the highest level in their Valuation hierarchy.<sup class="font-bold"><a href="#citation-1">1</a></sup>
      </p>
      <p>
        However, in real estate, every property is unique and the closing periods
        are long, so unlike their exchange traded counterparts, Market Value and
        Market Price aren’t necessarily synonymous.
      </p>
      <p>
        Only once a property transacts is there a concrete number everyone can
        point to as the Market Price. But even then, the parties likely agreed to
        the transaction price months earlier, so the price can easily be stale by
        the time the information is available to the general market. This is an
        issue, since various players within the commercial real estate ecosystem
        need periodic Valuations.<sup class="font-bold"><a href="#citation-2">2</a></sup>
      </p>
      <p>
        Without a stock market style, second-by-second ticker feed, we are left
        with a system of Valuations–an estimate of what a property should buy/sell
        for. This is an important distinction–so important, that the IFRS requires
        that property valuations be classified at the lowest level (Level 3) in
        their Valuation hierarchy.<sup class="font-bold"><a href="#citation-3">3</a>,<a href="#citation-4">4</a></sup>
      </p>
      <p>
        Valuers, the professionals that determine real estate Market Valuations,
        use financial models, built on the underlying property operations and a
        set of assumptions on the future. These Market Valuations need to be
        defensible and are often modeled through a relatively prescriptive method.
        But Valuers face a tricky balancing act–the users of Market
        Valuations–regulators, lenders and investors, also want the Market
        Valuations to be accurate.
      </p>
      <p>
        As a result, the process of determining property Market Values is like an
        oddsmaker deciding on the initial odds on a sports game–building a
        mathematical model based on a whole range of underlying assumptions. The
        oddsmaker’s goal isn’t to predict the winner of the game, but rather to
        guess the point in which the amount wagered on each side of the bet will
        be balanced.
      </p>
      <p>
        This difference sets up an interesting dynamic–Market Values can
        potentially vary significantly from what individual investors may feel a
        property is worth.
      </p>
      <ol class="flex flex-col gap-1 py-4 text-gray-700 border-t border-gray-300">
        <li><sup id="citation-1" class="pr-1 font-bold">1</sup>IFRS 13. May 2011. IFRS 13 - Section 9: Fair Value Measurement. International Accounting Standards Board.</li>
        <li><sup id="citation-2" class="pr-1 font-bold">2</sup>Baum, Crosby and Devaney. Property Investment Appraisal. (4th Edition). John Wiley and Sons. 2021.</li>
        <li><sup id="citation-3" class="pr-1 font-bold">3</sup>IFRS 13. May 2011. IFRS 13 - Section 9: Fair Value Measurement. International Accounting Standards Board.</li>
        <li><sup id="citation-4" class="pr-1 font-bold">4</sup><a href="#">British Land Annual Report and Accounts 2023</a>. Note 10. Page 194.</li>
      </ol>
    </section>
    <section>
      <h2>Investment Value</h2>
      <p>
        If a Market Valuation is the initial odds set up by a casino
        oddsmaker, an Investment Valuation is the bet individual gamblers are
        willing to make.
      </p>
      <p>
        Both Valuation types are financial models, but Investment Valuations
        are NOT asking for a prediction of the sale price, but instead what is
        a property worth, regardless of its current Market Value. Investment
        Valuations use a similar approach, but with a couple of differences.
      </p>
      <p>
        Firstly, the Investment Valuation takes the specific situation of an
        investor (or group of potential investors) into account–such as
        specific tax situations, cost of capital, operating expertise or an
        existing portfolio. The result is that two investors, with the exact
        same assumptions in their financial model, can come up with differing
        Investment Valuations.
      </p>
      <p>
        The second difference is that Investment Valuations have more latitude
        in their choice of financial model. While the accepted approaches to
        determining Market Value change very slowly over time, someone
        building an Investment Valuation is free to use the methods that best
        reflect the on-the-ground reality. This difference in the rate of
        adoption means that during times of transition, Investment Valuations
        will adjust much quicker.
      </p>
      <p>
        At the moment, commercial real estate is undergoing a massive
        transition. The retail and industrial subsectors are being scrambled
        as more and more shopping is being done online. Likewise, hospitality
        and residential have collided with the growth of short-term rental
        growth and most recently the office subsector has been facing massive
        demand shift, which was accelerated by the Covid-19 pandemic.
      </p>
      <p>
        And since the financial model should be a rational reflection of
        reality, we’re in a moment where Market and Investment Valuations
        conflict more than usual.
      </p>
    </section>
    <section>
      <h2>The Interaction Between Market and Investment Valuations</h2>
      <p>
        Market Prices are ultimately the weighted average of all market
        participants. If investors, enmasse, began to pay more for office
        buildings with coworking because of the complimentary income, Market
        Prices will begin to move. In order to remain accurate (and relevant)
        Market Valuations eventually need to adopt the same Investment
        Valuation methodologies used by investors. So while it can take a very
        long time, Market Valuations naturally follow Investment Valuations.
      </p>
      <p>
        Because so much of the commercial real estate ecosystem relies on
        Market Valuations, it is easy to become frustrated when the gap
        between Market and Investment Valuations is large–but like a casino
        mispricing the odds, the larger the gap, the greater the potential
        for profit.
      </p>
      <p>
        But unlike sport betting, there is never a final score when bets are
        settled–rather the real estate market is a constant, never ending
        debate over value. In this context, an Investment Valuation is a
        persuasive argument being put forward into this great debate–competing
        financial models, built on the underlying property operations and a
        set of assumptions on the future.
      </p>
      <p>
        In the book “The Big Short”, Michael Lewis described Wall Street’s
        affinity for complex financial products.
      </p>
      <blockquote class="text-xl italic font-medium px-8">
        Financial markets are a collection of arguments. The less transparent
        the market and the more complicated the securities, the more money
        the trading desks at big Wall Street firms can make from the argument.
        The constant argument over the value of the shares of some major
        publicly traded company has very little value, as both buyer and
        seller can see the fair price of the stock on the ticker...The
        argument over the value of credit default swaps on subprime mortgage
        bonds—a complex security whose value was derived from that of another
        complex security—could be a gold mine.<sup><a href="#citation-5">5</a></sup>
      </blockquote>
      <p>
        While Michael Lewis was referring to Credit Default Swaps, the
        description is also true for the meta-game being played around real
        estate valuations.
      </p>
      <p>
        If the value of a property is based on a simple-to-model set of
        assumptions–like a long-term lease to a single creditworthy tenant,
        there is little to debate. But as property operations become more
        complex, more sophisticated financial models need to be used to fully
        understand the potential risks and returns. And while having a more
        true understanding of the Value of a property is key, there’s an
        important second step–you need others to recognize your Investment
        Value as true as well.
      </p>
      <p>
        Whether it’s persuading an investment committee, potential investors,
        or lenders, others need to be convinced that your Investment Valuation
        is more rational, more reflective of reality and more predictive than
        the current Market Value.
      </p>
      <p>
        And eventually you need the market to recognize your Investment Value
        as correct to realize your profits–after all the saying is “Buy low,
        sell high”, not “Buy low, sell low, but make good income in the
        interim”.
      </p>
      <ol class="flex flex-col gap-1 py-4 text-gray-700 border-t border-gray-300">
        <li><sup id="citation-5" class="pr-1 font-bold">5</sup>Lewis, Michael. The Big Short: Inside the Doomsday Machine (p. 79). W. W. Norton & Company. Kindle Edition.</li>
      </ol>
    </section>
    <section>
      <h2>ReturnSuite and this Course</h2>
      <p>
        ReturnSuite was born out of this idea–that we’re in a period where
        the gap between Market and Investment Values is abnormally large. We
        believe that the financial models used in Market Valuations and most
        Investment Valuations are unable to accurately reflect the risk and
        return profiles of an increasingly complicated real estate market.
      </p>
      <h3>Structure of course</h3>
      <p>
        The goal of this course is to augment your first-hand knowledge about
        your properties and local market with a first principles approach,
        helping you develop the best financial models for your
        properties–regardless of the tools you decide to use.
      </p>
      <p>
        You’ll have access to free sample properties in ReturnSuite
      </p>
      <p>
        Goal is to provide you with all the tools to bu Access to free sample
        properties–no cost unless you want to build models with ReturnSuite.
      </p>
      <p>
        ReturnSuite’s mission is to provide you with both the mental tools and
        intuitive software that will allow you to convert potential investment
        opportunities into Investment Valuations that will give you the
        greatest understanding of both the risks and returns. Our software is
        designed in an open and audible way that makes sharing and
        communicating your Investment Valuation easy–giving you the loudest
        voice in the debate around Value–affecting a property's investability,
        creditworthiness and eventually the Market Price.
      </p>
    </section>
  </article>
  <div class="flex justify-end w-full text-base pb-6">
    <a href="#" class="text-blue-500 hover:underline flex place-items-center">
      <span>Next: Foundational concepts</span>
      <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
        <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
      </svg>
    </a>
  </div>
{% endblock article_content %}
