{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_foundational_concepts" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">Concepts</a></li>
    <li><a href="#">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <section id="overview">
      <h1>Overview</h1>
      <h2>How to build a real estate Net Operating Income Statement</h2>
      <br>
      <p>
        The <b>Net Operating Income Statement (NOI Statement)</b> is a detailed
        statement that breaks down each component step of a property’s operating
        income and expenses that culminates with the NOI. This statement
        generally reflects the accrual basis of accounting and is similar to a
        corporate income statement.
      </p>
      <p>
        NOI is one of the single most important numbers when determining a
        property’s valuation. All the Direct Capitalization methods–Standard,
        Tiered and Top Slice–are calculated by dividing the NOI by a
        Capitalization Rate. The Discounted Cash Flow method also partially
        relies on the NOI as it’s used to calculate the Exit Valuation.
      </p>
      <p>
        The NOI Statement is also used as the starting point of the Cash Flow
        Statement–another key statement in real estate.
      </p>
      <figure id="example-noi-statement">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap tracking-wide">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Projected</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
                <td class="border-b py-3 font-semibold text-right px-8">$3,000</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Potential Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Absorption & Turnover Vacancy</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$1,000</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$400</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Concessions</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Actual (or Projected) Base Rent</th>
                <td class="border-b py-3 font-semibold text-right px-8">$1,450</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Additional Rent</th>
                <td class="border-b py-3 text-right px-8">$550</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Tenant Revenue</th>
                <td class="border-b py-3 text-right px-8">$350</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Revenues</th>
                <td class="border-b py-3 text-right px-8">$625</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Gross Income</th>
                <td class="border-b py-3 font-semibold text-right px-8">$2,975</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Vacancy Loss</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$119</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Credit Loss</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$30</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Effective Gross Income (EGI)</th>
                <td class="border-b py-3 font-semibold text-right px-8">$2,826</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Operating Expenses</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$950</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Net Operating Income</th>
                <td class="py-3 font-semibold text-right px-8">$1,876</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example NOI Statement</figcaption>
      </figure>
      <p>
        The NOI Statement arrives at a property’s NOI by taking the revenues
        from the various types of rents, plus other sources of revenue and then
        subtracting operating expenses.
      </p>
      <p>
        Before diving into how a NOI Statement is created, we need to take a
        closer look at how financial models are built.
      </p>
    </section>
    <section id="foundational-concepts">
      <h1>Quick primer: inner workings of a real estate financial model</h1>
      <h2>How real estate model project cash flows</h2>
      <p class="text-gray-700 text-lg py-2">
        Big picture, what a financial model does is predict the amounts and
        timings of all the cash inflows and outflows of the spaces that make up
        a property within a set time frame.
      </p>
      <p>
        In the physical world, a property can be divided up into spaces, which
        at any point in time can either be leased or vacant. The cash inflow
        predictions are a function of the current leases and the expected
        replacement leases.
      </p>
      <p>
        The lease status of a space directly affects cash inflows via rent, but
        there are numerous indirect effects as well. The occupancy level of a
        property affects other property revenue such as parking and signage. It
        also affects any variable operating costs like cleaning, maintenance and
        utilities. Tenant turnover can come with significant expenditures beyond
        the missing rent, including broker commissions, free rent concessions
        and tenant improvement allowances.
      </p>
      <p>
        So what drives much of a financial model is the underlying leases and
        their projected replacements–as one real estate operator put it,
        Valuation tools are a function of “Stacking Leases”.
        <sup><a href="#citation-1">1</a></sup>
      </p>
      <p>
        Real estate financial models can be seen like a game of Tetris–the
        existing leases at the bottom of the screen and a series of projected
        leases dropping down from the top of the screen to fill in the gaps
        caused by vacancies. The two layers of leases–existing and projected–are
        then summed together to create the projected cash inflows of a property.
      </p>
      <figure class="flex flex-col place-items-center justify-center w-full py-6">
        <div class="w-2/3 flex flex-col place-items-center">
          <img src="{{ url_for('img', path='/concepts/4-noi-statement/leasing-rules.jpg') }}" alt="Leasing rules" class="pr-32">
        </div>
        <figcaption class="text-lg font-medium tracking-wide">Leasing rules projecting future leases</figcaption>
      </figure>
      <p>
        The projected leases are created using a set of Leasing Rules that are a
        reasonable estimate for the future. For example, we may have a model
        that handled vacancies from tenant turnover with the following leasing
        rules:
      </p>
      <ul class="flex flex-col gap-1 list-disc pl-12" id="here">
        <li class="text-gray-800 text-lg">It takes six months to release the space</li>
        <li class="text-gray-800 text-lg">The new lease will be at the current market rent for that time period</li>
        <li class="text-gray-800 text-lg">The new tenant is expected to sign a five-year lease</li>
        <li class="text-gray-800 text-lg">
          To sign the tenant, the landlord will need to provide the tenant
          with three months Free Rent and a $5 per square foot tenant
          improvement contribution.</li>
        <li class="text-gray-800 text-lg">
          It’s expected that a 2% commission will be paid to a leasing agent
          upon signing the new lease.
        </li>
      </ul>
      <p>
        Each time a space becomes vacant in our model, a projected lease is
        created using these rules and is dropped into the vacancy.
      </p>
      <p>
        So if we used the above leasing rules and a space was scheduled to
        become vacant, our cash flow model would model a six-month vacancy
        followed by a new five-year lease at the market rate (for that time
        period). We’d also notice a cash outflow to cover the tenant improvement
        allowance and commission to the leasing agent and a three-month delay in
        receiving rental income because of the Free Rent period.
      </p>
      <p>
        With that mental model, let’s go through building a NOI Statement
        line-by-line.
      </p>
      <ol class="flex flex-col gap-1 py-4 text-gray-700 border-t border-gray-300">
        <li><sup id="citation-1" class="pr-1 font-bold">1</sup>Preston Pesek, founder of the flex space operator Spacious (later acquired by WeWork)</li>
      </ol>
    </section>
    <section>
      <h1>Market and Potential Base Rent</h1>
      <h2>How to calculate Potential Base Rent</h2>
      <p>
        Potential Base Rent is the difference between Market Base Rent and
        Excess (or Deficit) Base Rent. It provides a picture of a property's
        income potential. This calculation considers both current market rates
        and existing lease agreements, providing a crucial tool for informed
        financial analysis.
      </p>
      <dl>
        <dt id="market-base-rent">Market Base Rent</dt>
        <dd>
          <p>
            The Market Base Rent line is the starting point of both a NOI Statement
            and a Cash Flow Statement is Market Base Rent–the potential base rent
            the landlord could expect if the property was fully leased out at the
            current market base rent at the chosen time period. This amount ignores
            current lease contracts–it simply answers the theoretical question,
            “What is the total base rent we could expect to earn if this property
            was fully leased at today's market base rent?”.
          </p>
        </dd>
        <dt id="excess-base-rent">Excess (Deficit) Base Rent</dt>
        <dd>
          <p>
            The Excess (or Deficit) Base Rent is the difference between the Market
            Base Rent and the Base Rent of the leased spaces. Unleashed spaces have
            neither an Excess nor Deficit Base Rent.
          </p>
          <p>
            For example if a space was leased for a Base Rent of $10,000 per month
            and the Market Base Rent was $9,000 (the market decreased since the
            lease was signed), the Excess Base Rent would be $1,000. If the Base
            Rent was $9,000 and the Market Base Rent was $10,000, the space would
            have a Deficit Base Rent of $1,000.
          </p>
        </dd>
        <dt id="potential-base-rent">Potential Base Rent</dt>
        <dd>
          <p>
            Potential Base Rent is the maximum amount of Base Rent a landlord can
            expect to earn given the leases in place. It is also equal to the sum of
            the Market Base Rent and the Excess (Deficit) Base Rent
          </p>
          <p>
            For unleased spaces, the Potential Base Rent is the Market Base Rent and
            for leased spaces it is the Base Rent in the lease contract.
          </p>
        </dd>
      </dl>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Let’s say we have a property with three units, each with a Market Base
        Rent of <b class="font-semibold">$1,000</b>. <var>Unit A</var> is leased for <b class="font-semibold">$800</b>, <var>Unit B</var> is leased for <b class="font-semibold">$1,100</b>
        and <var>Unit C</var> is empty. What is the <b class="font-semibold">Excess (Deficit) Base Rent</b> and
        <b class="font-semibold">Potential Base Rent</b> for each unit and for the property as a whole?
      </p>
      <figure id="example-potential-base-rent">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$3,000</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Excess (Deficit) Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$200</td>
                <td class="border-b py-3 text-right px-8">$100</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Base Rent</th>
                <td class="py-3 text-right px-8 font-semibold">$800</td>
                <td class="py-3 text-right px-8 font-semibold">$1,100</td>
                <td class="py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="py-3 text-right px-8 font-semibold">$2,900</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example potential base rent</figcaption>
      </figure>
    </section>

    <section>
      <h1>Actual (or Projected) Base Rent</h1>
      <h2>How to calculate the Actual (or Projected) Base Rent</h2>
      <p>
        The next step in calculating a property’s NOI is to determine the Actual
        (or Projected) Base Rent–the Base Rent, in actual cash, that a landlord
        has either received (Actual Base Rent) or expects to receive (Projected
        Base Rent).
      </p>
      <p>
        To calculate the Actual (or Projected) Base Rent, we need to subtract
        vacancy costs and the various types of landlord concessions from the
        Potential Base Rent.
      </p>
      <dl>
        <dt>Absorption & Turnover Vacancy</dt>
        <dd>
          <p>
            Absorption & Turnover Vacancy is the loss in Potential Base Rent
            that is expected to be unearned due to vacancy periods, including
            both turnover between tenants and time to lease currently vacant
            space. The value of Absorption & Turnover Vacancy is the Market Rent
            that hasn’t been earned.
          </p>
        </dd>
        <dt>Free Base Rent</dt>
        <dd>
          <p>
            Free Base Rent is a concession offered by a landlord where a tenant
            is not required to pay the contracted base rent for a specified
            period during their lease term. Free Base Rent is often used as an
            incentive to attract or retain tenants.
          </p>
          <p>
            The period of rent abatement is typically provided at the beginning
            of a lease, but can sometimes be spread throughout the lease term.
            The tenant typically still pays other charges like utilities or
            additional rent during this period.
          </p>
          <p>
            The value of Free Base Rent is calculated as the amount of base
            rent that would have been collected during the rent-free period
            based on the lease's terms.
          </p>
        </dd>
        <dt>Other Concessions</dt>
        <dd>
          <p>
            Other Concessions are additional financial incentives or benefits
            offered by a landlord to a tenant to encourage them to sign or renew
            a lease.
          </p>
        </dd>
      </dl>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Continuing with our original example of a three unit property, let’s say
        that the tenant occupying Unit A is receiving $400 in Free Base Rent as
        an incentive to their lease. The tenant occupying Unit B is receiving a
        $100 concession as part of their lease and Unit C is remaining empty
        during this period.
      </p>
      <p>
        What would the Actual (or Projected) Base Rent be for each of the units
        and the property as a whole?
      </p>
      <figure id="example-potential-base-rent">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$3,000</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Excess (Deficit) Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$200</td>
                <td class="border-b py-3 text-right px-8">$100</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Base Rent</th>
                <td class="border-b py-3 text-right px-8 font-semibold">$800</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,100</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
                <td class="border-b py-3 text-right px-8 font-semibold">$2,900</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Absorption & Turnover Vacancy</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$1,000</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$1,000</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$400</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$400</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Concessions</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Actual (or Projected) Base Rent</th>
                <td class="py-3 text-right px-8 font-semibold">$400</td>
                <td class="py-3 text-right px-8 font-semibold">$1,050</td>
                <td class="py-3 text-right px-8 font-semibold">$0</td>
                <td class="py-3 text-right px-8 font-semibold">$1,450</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example actual (or projected) base rent</figcaption>
      </figure>
    </section>
    <section>
      <h1>Additional Rent</h1>
      <h2>How to calculate a property’s Additional Rent</h2>
      <p>
        Additional Rent encompasses most of the remaining rental income and
        recoveries specified in a lease agreement that are not part of the fixed
        Base Rent. Additional Rent includes variable, contingent, or
        reimbursable amounts that may fluctuate based on external factors,
        tenant performance, or actual expenses incurred. While often predictable
        to some degree, the exact amounts of Additional Rent is not certain
        until they occur or are calculated.
      </p>
      <p>
        The three main types of Additional Rents and their Free Rent counterpart
        are: Expense Recoveries, CPI Increases and Miscellaneous Rent.
      </p>
      <dl>
        <dt>Expense Recoveries & Free Expense Recoveries</dt>
        <dd>
          <p>
            Expense Recoveries are additional charges to tenants designed to
            reimburse the landlord for certain operating costs associated with
            the property. These typically include items such as utilities,
            property taxes, insurance, and common area maintenance (CAM)
            expenses. The amount charged is often proportional to the tenant's
            occupied space and is outlined in the lease agreement. For example,
            a tenant occupying 25% of a building might be responsible for 25% of
            the recoverable expenses.
          </p>
          <p>
            Free Expense Recoveries are a specific concession where a tenant is
            not required to pay some or all of the typical expense recoveries
            for a specified period during their lease term. This concession is
            often used as an incentive for new tenants or during lease renewals.
            The value of Free Expense Recoveries is calculated as the amount of
            expense recoveries that would have been collected during the free
            period based on the lease terms and the actual expenses incurred.
          </p>
          <p>
            Both Expense Recoveries and Free Expense Recoveries are considered
            Additional Rent because they are separate from and in addition to
            the Base Rent, and their exact amounts may vary based on actual
            expenses incurred by the property.
          </p>
        </dd>
        <dt>CPI Increases & Free CPI Increases</dt>
        <dd>
          <p>
            CPI Increases are adjustments to rental rates tied to changes in the
            Consumer Price Index, designed to maintain the real value of rent
            over time in the face of inflation. For example, a lease may set the
            Base Rent as $30 per square foot per year plus the CPI from the
            previous year, beginning the second of the lease.
          </p>
          <p>
            Free CPI Increases are a specific concession where a tenant is not
            required to pay the CPI Increase(s) for a specified period during
            their lease term. The value of Free CPI Increases is the amount of
            CPI Increases that would have been collected during the Free CPI
            Increases period identified in the lease terms.
          </p>
          <p>
            While CPI Increases modify the amount of Base Rent paid and are
            sometimes classified as a type of Base Rent, ReturnSuite considers
            CPI Increases a form of Additional Rent. By classifying CPI
            Increases as Additional Rent, there is a clear distinction between
            fixed, predetermined rental income and variable, market-driven
            adjustments. We believe that this classification provides more
            transparent financial reporting, allows for more accurate
            forecasting, and aligns with modern accounting standards and best
            practices in real estate financial analysis.
          </p>
        </dd>
        <dt>Miscellaneous Rent & Free Miscellaneous Rent</dt>
        <dd>
          <p>
            Miscellaneous Rent refers to Additional Rent specified in a lease
            agreement that doesn't fall under standard categories like Base
            Rent, Expense Recoveries, or CPI Increases. It can be fixed or
            variable and is typically charged in addition to Base Rent.
          </p>
          <p>
            Miscellaneous Rent is often unique to specific tenant needs or
            property features. If a Miscellaneous Rent is common among multiple
            tenants or properties, it may make more sense to classify the rent
            as Other Tenant Revenue.
          </p>
          <p>
            Free Miscellaneous Rent is a concession where a tenant is not
            required to pay some or all of the Miscellaneous Rent for a
            specified period during their lease term. The value of Free
            Miscellaneous Rent is calculated as the amount of Miscellaneous Rent
            that would have been collected during the free period based on the
            lease terms.
          </p>
          <p>
            As with other forms of Additional Rent, they are separate from and
            in addition to the Base Rent.
          </p>
        </dd>
      </dl>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Following our previous example, let’s say that all three units were
        required to pay $300 in Expense Recoveries, although Unit B was given
        $100 in Free Expense Recoveries and Unit C remains vacant (so there are
        no recoveries).
      </p>
      <p>
        Unit A had an annual CPI Increase in their lease, however the year we
        are analyzing they also had a Free CPI Increase period. The CPI Increase
        for the year would have been 5%. Also, the tenant in Unit B also had a
        clause in their lease to pay $50 for special access to the roof for
        their wireless equipment.
      </p>
      <p>What would the Additional Rent look like?</p>
      <figure id="example-potential-base-rent">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Expense Recoveries</th>
                <td class="border-b py-3 text-right px-8">$300</td>
                <td class="border-b py-3 text-right px-8">$300</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">$600</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Expense Recoveries</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">CPI Increases</th>
                <td class="border-b py-3 text-right px-8">$50</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$50</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free CPI Increases</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Miscellaneous Rent</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$50</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$50</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Miscellaneous Rent</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Additional Rent</th>
                <td class="py-3 text-right px-8 font-semibold">$300</td>
                <td class="py-3 text-right px-8 font-semibold">$250</td>
                <td class="py-3 text-right px-8 font-semibold">-</td>
                <td class="py-3 text-right px-8 font-semibold">$550</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example additional rent</figcaption>
      </figure>
    </section>
    <section>
      <h1>Other Tenant Revenue</h1>
      <h2>What is included in Other Tenant Revenue</h2>
      <p>
        Other Tenant Revenues are the non-rent based sources of income which can
        be attributed to specific tenants. While the various types of Other
        Tenant Revenue are uncommon, to qualify as an item on the NOI Statement,
        the revenue needs to be a recurring source of income–so if the item
        being considered is a one-time boost to income, it should not be
        categorized as Other Tenant Revenue.
      </p>
      <p>
        Income sources classified as Other Tenant Revenue include:
      </p>
      <dl>
        <dt>Incentive Recoveries</dt>
        <dd>
          <p>
            An incentive recovery is a provision in a lease agreement that
            allows the landlord to recover the value of upfront incentives given
            to a tenant, typically if the tenant defaults on the lease or
            terminates it early. For example, if a tenant receives a $10,000
            incentive for a 5-year lease but leaves after 2 years, they might
            need to repay 60% of the incentive.
          </p>
        </dd>
        <dt>Non-Refundable Deposits</dt>
        <dd>
          <p>
            A non-refundable deposit is a sum of money paid by a tenant to a
            landlord that the landlord keeps regardless of whether the lease is
            executed or completed. An example of a Non-Refundable Deposit is
            during the early stage of a lease negotiation, a landlord may
            require one as compensation for taking a property off the market
            without a signed lease.
          </p>
        </dd>
        <dt>Earned Interest on Deposits</dt>
        <dd>
          <p>
            Security Deposits are often held in interest earning accounts.
            Depending on the terms of the lease and potentially the jurisdiction
            the interest can be payable to either to the landlord or the tenant.
            Earned Deposit Interest is interest earned by the landlord.
          </p>
        </dd>
      </dl>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Continuing with our example, it turns out the previous tenant in Unit C
        exited their four-year lease after two years. As part of their exit
        agreement, they reimbursed the landlord half of their $500 Free Base
        Rent incentive. The tenant in Unit A paid a $75 Non-Refundable Deposit
        prior to signing their lease. The Tenant in Unit B has a $500 deposit,
        earning 5% interest per year ($25) payable to the landlord.
      </p>
      <p>
        What would the Other Tenant Revenues look like for each of the units and
        the property as a whole?
      </p>
      <figure id="example-potential-base-rent">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Incentive Recoveries</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$250</td>
                <td class="border-b py-3 text-right px-8">$250</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700"> Non-Refundable Deposits</th>
                <td class="border-b py-3 text-right px-8">$75</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$75</td>
              </tr>
              <tr class="bg-gray-50">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Earned Interest on Deposits</th>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$25</td>
                <td class="border-b py-3 text-right px-8">-</td>
                <td class="border-b py-3 text-right px-8">$25</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Other Tenant Revenue</th>
                <td class="py-3 text-right px-8 font-semibold">$75</td>
                <td class="py-3 text-right px-8 font-semibold">$25</td>
                <td class="py-3 text-right px-8 font-semibold">$250</td>
                <td class="py-3 text-right px-8 font-semibold">$350</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example other tenant revenue</figcaption>
      </figure>
    </section>
    <section>
      <h1>Other Revenue</h1>
      <h2>What income should be categorized as Other Revenues</h2>
      <p>
        Other Revenues include all the other sources of property income such as
        Parking, Signage, Vending Machines and Events. These revenues may be
        indirectly driven by tenants, but are not part of the main lease.
      </p>
      <p>
        For example, the employees of a tenant may individually rent parking, or
        a tenant may pay for parking on their employees behalf, but parking
        revenue should be categorized as Other Revenue if parking isn’t
        specifically outlined in their lease.
      </p>
      <p>
        Even if the lease does include items like Parking or Signage, it is
        preferable to identify the value of each component separately–this will
        provide more transparency and reduce the risk of inadvertently
        over-inflate the rental value of leased space.
      </p>
      <p>
        For example if the Market Rent of a unit was $10,000 and the value of
        parking that came with the lease was $1,000, wrapping the total value of
        $11,000 into the Net Operating Income Statement would leave readers with
        the impression that the unit was earning an Excess Rent of $1,000.
      </p>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Continuing with our same example property, let’s say that the property
        earned $400 in parking revenue, $125 from the Vending Machines and an
        additional $100 from Special Events.
      </p>
      <p>
        What would the Other Revenues section of the NOI Statement look like?
      </p>
      <figure id="example-noi-statement">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap tracking-wide">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
              </tr>
            </thead>
            <tbody>
            <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Parking</th>
                <td class="border-b py-3 text-right px-8">$400</td>
              </tr>
            <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Vending Machine Income</th>
                <td class="border-b py-3 text-right px-8">$120</td>
              </tr>
            <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Special Events</th>
                <td class="border-b py-3 text-right px-8">$100</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Other Revenues</th>
                <td class="py-3 font-semibold text-right px-8">$1,625</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example NOI Statement</figcaption>
      </figure>
    </section>
    <section>
      <h1>Potential Gross Income</h1>
      <h2>How to calculate a property’s Potential Gross Income</h2>
      <p>
        The Potential Gross Income of a property is the total income, from all
        sources of revenue that the landlord has received or expects to receive.
      </p>
      <p>
        In the NOI Statement, Potential Gross Income is the Actual
        (or Projected) Base Rent plus all the other sources of income–Additional
        Rent, Other Tenant Revenue and Other Revenues.
      </p>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Continuing to build upon our example, we can add the lines for
        Additional Rent, Other Tenant Revenue and Other Revenues onto a
        statement and arrive at the property’s Potential Gross Income.
      </p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
    </section>
    <section>
      <h1>Vacancy & Credit Loss</h1>
      <h2>How Vacancy & Credit Loss fit into the NOI Statement</h2>
      <p>
        Vacancy & Credit Losses are reserves for unexpected losses in a
        future-looking NOI Statement–they are generalized contingencies rather
        than a known or expected vacancy / shortfall.  They are the lines in the
        NOI Statement that accounts for “I don’t know which tenant will leave
        unexpectedly, but every year it seems to happen.”
      </p>
      <p>
        There are two subcomponents to this line in the Net Operating Income Statement:
      </p>
      <dl>
        <dt>Vacancy Loss</dt>
        <dd>
          <p>
            Accounts for unexpected or unforeseeable vacancies not captured in
            specific space projections and provides a buffer for differences in
            the projected leasing rules and the actual market fluctuations.
          </p>
        </dd>
        <dt>Credit Loss</dt>
        <dd>
          <p>
            An estimate of the potential uncollectible rent from existing or
            future tenants from potential tenant defaults or negotiated rent
            reductions.
          </p>
        </dd>
      </dl>
      <p>
        Both types of Vacancy Losses and Credit Losses are typically calculated
        as a percentage of Potential Gross Income.
      </p>
      <p>
        Vacancy & Credit Losses are only used in projected NOI Statements, not
        in NOI Statements that display actual financial results. They are
        subtracted from Potential Gross Income, we arrive at the Effective Gross
        Income.
      </p>
      <h2>How Vacancy & Credit Losses are handled Actuals</h2>
      <p>
        When creating a NOI Statement that includes actuals rather than
        projections, the Vacancy & Credit Loss lines are no longer applicable
        since any unexpected vacancy or collection issue would be reflected in
        the corresponding revenues lines.
      </p>
      <p>
        For example, let’s say a tenant suddenly defaulted on their lease, which
        created a month of lost rental revenue for a landlord. If the tenant was
        scheduled to pay $1,000, comprising $800 in Base Rent and $200 in
        Additional Rent (Operating Expense Recoveries), each of those lines
        would be reduced by the corresponding amount.
      </p>
      <p>
        While the NOI Statement wouldn’t specific highlight the adjustments in
        this way, here is a snapshot of what is happening to the specific lines
        behind the scenes:
      </p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
      <p>
        If there are unexpected vacancies or credit losses in actuals when
        compared to projections, a good practice is to highlight those issues in
        a footnote similar to how issues are highlighted in other financial
        reports.
      </p>
    </section>
    <section>
      <h1>Effective Gross Income</h1>
      <h2>How to calculate a property’s Effective Gross Income</h2>
      <p>
        Effective Gross Income (EGI) is an important intermediate calculation in
        the NOI Statement. Sometimes referred to as Gross Realized Revenue or
        Gross Realized Income, EGI is the total income–both from rent and other
        sources of income–that a property has or is expected to generate
        adjusted for vacancies and credit losses.
      </p>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Let’s continue to build upon our previous example by applying the
        following adjustments:
      </p>
      <ul>
        <li>Vacancy Loss of 4% of Potential Gross Income, and</li>
        <li>a Credit Loss of 1% of Potential Gross Income.</li>
      </ul>
      <p>What is the EGI of our example property?</p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
    </section>
    <section>
      <h1>Operating Expenses</h1>
      <h2>How real estate Operating Expenses affect the NOI Statement</h2>
      <p>
        Operating Expenses are the periodic expenditures required to operate and
        maintain a property such as property maintenance, utilities and real
        estate taxes. Because the NOI Statement is a display of the operating
        profitability of a property, it is important that Capital Expenditures
        (which are often large and sporadic) and Debt Financing (like interest
        payments) are not classified as Operating Expenses.
      </p>
      <p>
        Many operating expenses vary with the level of occupancy (variable
        expenses) while others occur whether the property is occupied or vacant
        (fixed expenses). Quite often operating expenses have both a variable
        and fixed component.
      </p>
      <p>
        For example, insurance is generally considered a fully fixed expense
        (100%) while janitorial may be a fully variable expense (0%) while an
        expense like electricity costs may be 25% fixed (and therefore 75%
        variable).
      </p>
    </section>
    <section>
      <h1>Net Operating Income</h1>
      <h2>How to calculate a property’s Net Operating Income</h2>
      <p>
        Net Operating Income (NOI) is the final line in a NOI Statement. It is
        the actual (or projected) net income that remains after all the
        Operating Expenses are subtracted from Effective Gross Income. It is the
        cash that a property is expected to (or did) generate from normal
        operations–before Capital Expenditures, Depreciation, Income Taxes and
        Debt Financing are deducted.
      </p>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Continuing with our example property, what is the Net Operating Income
        of the property if the total Operating Expenses, given the current
        occupancy, is $950?
      </p>
      <figure id="example-noi-statement">
        <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
          <table class="table-auto border-collapse font-medium">
            <thead>
              <tr>
                <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap tracking-wide">Line Items</th>
                <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Projected</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
                <td class="border-b py-3 font-semibold text-right px-8">$3,000</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Potential Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Absorption & Turnover Vacancy</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$1,000</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Base Rent</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$400</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Concessions</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Actual (or Projected) Base Rent</th>
                <td class="border-b py-3 font-semibold text-right px-8">$1,450</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Additional Rent</th>
                <td class="border-b py-3 text-right px-8">$550</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Tenant Revenue</th>
                <td class="border-b py-3 text-right px-8">$350</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Revenues</th>
                <td class="border-b py-3 text-right px-8">$625</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Gross Income</th>
                <td class="border-b py-3 font-semibold text-right px-8">$2,975</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Vacancy Loss</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$119</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Credit Loss</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$30</td>
              </tr>
              <tr class="bg-white">
                <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Effective Gross Income (EGI)</th>
                <td class="border-b py-3 font-semibold text-right px-8">$2,826</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Operating Expenses</th>
                <td class="border-b py-3 text-right px-8 text-red-500">-$950</td>
              </tr>
              <tr class="bg-white">
                <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Net Operating Income</th>
                <td class="py-3 font-semibold text-right px-8">$1,876</td>
              </tr>
            </tbody>
          </table>
        </div>
        <figcaption>Example NOI Statement</figcaption>
      </figure>
      <p>
        Often you will see simplified versions of a NOI Statement that condense
        or eliminate some of the steps.
      </p>
      <p>
        Often simplifications include:
      </p>
      <ul>
        <li>Starting at either Potential Base Rent or Actual (or Projected) Base Rent</li>
        <li>Consolidation of the various types of additional sources of rent and revenue</li>
        <li>Consolidation of Vacancy and Credit Loss into a single line</li>
      </ul>
      <p>Below is a simplified version of our example NOI Statement.</p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
    </section>
    <section>
      <h1>NOI and the Cash Flow Statement</h1>
      <h2>Learn how NOI is related to Cash Flow</h2>
      <p>
        The NOI Statement outlines all of the operating revenues and expenses of
        a property, but it doesn’t factor in Capital Expenses or Financing–these
        categories are itemized in the Cash Flow Statement (the next chapter of
        the course).
      </p>
      <div>
        <p>
          The Cash Flow Statement includes all the items in the NOI Statement but
          also includes a section for Capital Expenditures and a section for
          Financing Activities–so the NOI Statement is the starting point of a
          Cash Flow Statement.
        </p>
        <p>
          In real estate, there will often be reference to expenses occurring
          “above or below the line”. The line that is being referred to is the
          NOI line in the Cash Flow Statement. Because so many of the valuation
          techniques involve NOI in their calculations, the distinction of items
          falling above or below the line can be quite significant. Properly
          categorizing expenses above or below the line is a key aspect of
          developing a realistic financial model of a property.
        </p>
        <div class="bg-blue-100 rounded-md border shadow-sm p-6">
          <p>Further Reading:</p>
          <h2><a target="_blank" href="#">Vacancy, Speculative Suites & the Cost of Tenant Turnover</a></h2>
          <img src="{{ url_for('img', path='/blog/2023-11-10/vacancy-speculative-suites-and-cost-of-tenant-turnover.webp') }}" alt="Like plane flights, rental space is a perishable good–potential revenue is lost forever once it takes off." class="rounded-md shadow-sm">
          <p>
            Like plane flights, rental space is a perishable good–potential
            revenue lost forever and impossible to recapture. A deeper look at the
            cost of vacancy and speculative suites.
          </p>
          <a target="_blank" href="#" class="flex place-items-center hover:underline">
            <span>Read article</span>
            <svg class="inline-block h-6" viewBox="0 0 24 24" fill="currentColor">
              <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
            </svg>
          </a>
        </div>
      </div>
    </section>
    <section>
      <h1>Valuation: Standard Direct Capitalization & NOI</h1>
      <h2>How the NOI Statement is used in the Standard Direct Capitalization method</h2>
      <p>
        NOI is a key performance metric in commercial real estate and in
        combination with Capitalization Rates, it is used in all of the Income
        Approach valuation techniques.
      </p>
      <p>
        For the Standard method of Direct Capitalization, the NOI is divided by
        the Capitalization rate to arrive at a valuation.
      </p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
      <h2>Three NOI choices in valuation</h2>
      <dl>
        <dt>Forward 12-Months</dt>
        <dd>
          <p>
            The total forecasted NOI in the year after the valuation date
            (most common method).
          </p>
        </dd>
        <dt>Trailing 12-Months</dt>
        <dd>
          <p>
            The total NOI in the year leading up to the valuation date.
          </p>
        </dd>
        <dt>Average 24-Months</dt>
        <dd>
          <p>
            The one-year average NOI for 12 months before and after the
            valuation date.
          </p>
        </dd>
      </dl>
      <hr class="mt-4 mb-4 border-gray-300">
      <h2>Example</h2>
      <p>
        Let’s say our example NOI Statement was a projection for the next year
        and the current Capitalization Rate for similar properties was 8.0%.
      </p>
      <p>
        How would we calculate the value of the property using the Standard
        method of Direct Capitalization (Forward 12-Months).
      </p>
      <p>
        It is a two-step process, with the first step being to calculate the
        Forward 12-Months NOI.
      </p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
      <p>
        After building a NOI Statement to determine the Forward 12-Months NOI
        ($1,876), the second step is to divide the NOI by the Capitalization
        Rate (8.0%).
      </p>
      <figure>
        <figcaption>TODO</figcaption>
      </figure>
      <p>The value of the property is <b>$23,450</b>.</p>
    </section>
  </article>
  <div class="flex justify-end w-full text-base py-6">
    <a href="#" class="text-blue-500 hover:underline flex place-items-center">
      <span>Next: Todo</span>
      <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
        <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
      </svg>
    </a>
  </div>
{% endblock article_content %}
