{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_overview" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">Concepts</a></li>
    <li><a href="#">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1 id="overview">Overview</h1>
    <h2>How to build a real estate Net Operating Income Statement</h2>
    <br>
    <p>
      The <b>Net Operating Income Statement (NOI Statement)</b> is a detailed
      statement that breaks down each component step of a property’s operating
      income and expenses that culminates with the NOI. This statement
      generally reflects the accrual basis of accounting and is similar to a
      corporate income statement.
    </p>
    <p>
      NOI is one of the single most important numbers when determining a
      property’s valuation. All the Direct Capitalization methods–Standard,
      Tiered and Top Slice–are calculated by dividing the NOI by a
      Capitalization Rate. The Discounted Cash Flow method also partially
      relies on the NOI as it’s used to calculate the Exit Valuation.
    </p>
    <p>
      The NOI Statement is also used as the starting point of the Cash Flow
      Statement–another key statement in real estate.
    </p>
    <figure id="example-noi-statement">
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap tracking-wide">Line Items</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Projected</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
              <td class="border-b py-3 font-semibold text-right px-8">$3,000</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Potential Base Rent</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Absorption & Turnover Vacancy</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$1,000</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Free Base Rent</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$400</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Concessions</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$50</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Actual (or Projected) Base Rent</th>
              <td class="border-b py-3 font-semibold text-right px-8">$1,450</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Additional Rent</th>
              <td class="border-b py-3 text-right px-8">$550</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Tenant Revenue</th>
              <td class="border-b py-3 text-right px-8">$350</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Revenues</th>
              <td class="border-b py-3 text-right px-8">$625</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Gross Income</th>
              <td class="border-b py-3 font-semibold text-right px-8">$2,975</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Vacancy Loss</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$119</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Credit Loss</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$30</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Effective Gross Income (EGI)</th>
              <td class="border-b py-3 font-semibold text-right px-8">$2,826</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Operating Expenses</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$950</td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Net Operating Income</th>
              <td class="py-3 font-semibold text-right px-8">$1,876</td>
            </tr>
          </tbody>
        </table>
      </div>
      <figcaption>Example NOI Statement</figcaption>
    </figure>
    <p>
      The NOI Statement arrives at a property’s NOI by taking the revenues
      from the various types of rents, plus other sources of revenue and then
      subtracting operating expenses.
    </p>
    <p>
      Before diving into how a NOI Statement is created, we need to take a
      closer look at how financial models are built.
    </p>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_real_estate_model') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Quick primer: inner workings of a real estate financial model</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
