{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_market_and_potential_base_rent" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_noi_overview') }}">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>Market and Potential Base Rent</h1>
    <h2>How to calculate Potential Base Rent</h2>
    <p>
      Potential Base Rent is the difference between Market Base Rent and
      Excess (or Deficit) Base Rent. It provides a picture of a property's
      income potential. This calculation considers both current market rates
      and existing lease agreements, providing a crucial tool for informed
      financial analysis.
    </p>
    <dl>
      <dt id="market-base-rent">Market Base Rent</dt>
      <dd>
        <p>
          The Market Base Rent line is the starting point of both a NOI Statement
          and a Cash Flow Statement is Market Base Rent–the potential base rent
          the landlord could expect if the property was fully leased out at the
          current market base rent at the chosen time period. This amount ignores
          current lease contracts–it simply answers the theoretical question,
          “What is the total base rent we could expect to earn if this property
          was fully leased at today's market base rent?”.
        </p>
      </dd>
      <dt id="excess-base-rent">Excess (Deficit) Base Rent</dt>
      <dd>
        <p>
          The Excess (or Deficit) Base Rent is the difference between the Market
          Base Rent and the Base Rent of the leased spaces. Unleashed spaces have
          neither an Excess nor Deficit Base Rent.
        </p>
        <p>
          For example if a space was leased for a Base Rent of $10,000 per month
          and the Market Base Rent was $9,000 (the market decreased since the
          lease was signed), the Excess Base Rent would be $1,000. If the Base
          Rent was $9,000 and the Market Base Rent was $10,000, the space would
          have a Deficit Base Rent of $1,000.
        </p>
      </dd>
      <dt id="potential-base-rent">Potential Base Rent</dt>
      <dd>
        <p>
          Potential Base Rent is the maximum amount of Base Rent a landlord can
          expect to earn given the leases in place. It is also equal to the sum of
          the Market Base Rent and the Excess (Deficit) Base Rent
        </p>
        <p>
          For unleased spaces, the Potential Base Rent is the Market Base Rent and
          for leased spaces it is the Base Rent in the lease contract.
        </p>
      </dd>
    </dl>
    <hr class="mt-4 mb-4 border-gray-300">
    <h2>Example</h2>
    <p>
      Let’s say we have a property with three units, each with a Market Base
      Rent of <b class="font-semibold">$1,000</b>. <var>Unit A</var> is leased for <b class="font-semibold">$800</b>, <var>Unit B</var> is leased for <b class="font-semibold">$1,100</b>
      and <var>Unit C</var> is empty. What is the <b class="font-semibold">Excess (Deficit) Base Rent</b> and
      <b class="font-semibold">Potential Base Rent</b> for each unit and for the property as a whole?
    </p>
    <figure id="example-potential-base-rent">
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
              <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$1,000</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$3,000</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Excess (Deficit) Base Rent</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$200</td>
              <td class="border-b py-3 text-right px-8">$100</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Base Rent</th>
              <td class="py-3 text-right px-8 font-semibold">$800</td>
              <td class="py-3 text-right px-8 font-semibold">$1,100</td>
              <td class="py-3 text-right px-8 font-semibold">$1,000</td>
              <td class="py-3 text-right px-8 font-semibold">$2,900</td>
            </tr>
          </tbody>
        </table>
      </div>
      <figcaption>Example potential base rent</figcaption>
    </figure>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_projected_base_real_rent') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Actual (or Projected) Base Rent</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
