{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_other_tenant_revenue" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_noi_overview') }}">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>Other Tenant Revenue</h1>
    <h2>What is included in Other Tenant Revenue</h2>
    <p>
      Other Tenant Revenues are the non-rent based sources of income which can
      be attributed to specific tenants. While the various types of Other
      Tenant Revenue are uncommon, to qualify as an item on the NOI Statement,
      the revenue needs to be a recurring source of income–so if the item
      being considered is a one-time boost to income, it should not be
      categorized as Other Tenant Revenue.
    </p>
    <p>
      Income sources classified as Other Tenant Revenue include:
    </p>
    <dl>
      <dt>Incentive Recoveries</dt>
      <dd>
        <p>
          An incentive recovery is a provision in a lease agreement that
          allows the landlord to recover the value of upfront incentives given
          to a tenant, typically if the tenant defaults on the lease or
          terminates it early. For example, if a tenant receives a $10,000
          incentive for a 5-year lease but leaves after 2 years, they might
          need to repay 60% of the incentive.
        </p>
      </dd>
      <dt>Non-Refundable Deposits</dt>
      <dd>
        <p>
          A non-refundable deposit is a sum of money paid by a tenant to a
          landlord that the landlord keeps regardless of whether the lease is
          executed or completed. An example of a Non-Refundable Deposit is
          during the early stage of a lease negotiation, a landlord may
          require one as compensation for taking a property off the market
          without a signed lease.
        </p>
      </dd>
      <dt>Earned Interest on Deposits</dt>
      <dd>
        <p>
          Security Deposits are often held in interest earning accounts.
          Depending on the terms of the lease and potentially the jurisdiction
          the interest can be payable to either to the landlord or the tenant.
          Earned Deposit Interest is interest earned by the landlord.
        </p>
      </dd>
    </dl>
    <hr class="mt-4 mb-4 border-gray-300">
    <h2>Example</h2>
    <p>
      Continuing with our example, it turns out the previous tenant in Unit C
      exited their four-year lease after two years. As part of their exit
      agreement, they reimbursed the landlord half of their $500 Free Base
      Rent incentive. The tenant in Unit A paid a $75 Non-Refundable Deposit
      prior to signing their lease. The Tenant in Unit B has a $500 deposit,
      earning 5% interest per year ($25) payable to the landlord.
    </p>
    <p>
      What would the Other Tenant Revenues look like for each of the units and
      the property as a whole?
    </p>
    <figure id="example-potential-base-rent">
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit A</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit B</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Unit C</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total Property</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Incentive Recoveries</th>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">$250</td>
              <td class="border-b py-3 text-right px-8">$250</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700"> Non-Refundable Deposits</th>
              <td class="border-b py-3 text-right px-8">$75</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">$75</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Earned Interest on Deposits</th>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">$25</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">$25</td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Other Tenant Revenue</th>
              <td class="py-3 text-right px-8 font-semibold">$75</td>
              <td class="py-3 text-right px-8 font-semibold">$25</td>
              <td class="py-3 text-right px-8 font-semibold">$250</td>
              <td class="py-3 text-right px-8 font-semibold">$350</td>
            </tr>
          </tbody>
        </table>
      </div>
      <figcaption>Example other tenant revenue</figcaption>
    </figure>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_other_revenue') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Other Revenue</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
