{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_potential_gross_income" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_noi_overview') }}">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>Potential Gross Income</h1>
    <h2>How to calculate a property’s Potential Gross Income</h2>
    <p>
      The Potential Gross Income of a property is the total income, from all
      sources of revenue that the landlord has received or expects to receive.
    </p>
    <p>
      In the NOI Statement, Potential Gross Income is the Actual
      (or Projected) Base Rent plus all the other sources of income–Additional
      Rent, Other Tenant Revenue and Other Revenues.
    </p>
    <hr class="mt-4 mb-4 border-gray-300">
    <h2>Example</h2>
    <p>
      Continuing to build upon our example, we can add the lines for
      Additional Rent, Other Tenant Revenue and Other Revenues onto a
      statement and arrive at the property’s Potential Gross Income.
    </p>
    <figure>
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit pt-3">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 pb-3 font-semibold text-left px-8 whitespace-nowrap tracking-wide">Line Items</th>
              <th class="border-b border-gray-300 pb-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Projected</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Market Base Rent</th>
              <td class="border-b py-3 font-semibold text-right px-8">$3,000</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Excess (Deficit) Base Rent</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$100</td>
            </tr>

            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Base Rent</th>
              <td class="border-b py-3 font-semibold text-right px-8">$2,900</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Absorption & Turnover Vacancy</th>
              <td class="border-b py-3 text-right px-8 text-red-500">-$1,450</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Actual (or Projected) Base Rent</th>
              <td class="border-b py-3 font-semibold text-right px-8">$1,450</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Additional Rent</th>
              <td class="border-b py-3 text-right px-8">$550</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Tenant Revenue</th>
              <td class="border-b py-3 text-right px-8">$350</td>
            </tr>
            <tr class="bg-gray-100">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Other Revenues</th>
              <td class="border-b py-3 text-right px-8">$625</td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Gross Income</th>
              <td class="py-3 font-semibold text-right px-8">$2,975</td>
            </tr>
          </tbody>
        </table>
      </div>
      <figcaption>Example Potential Gross Income</figcaption>
    </figure>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_vacancy_and_credit_loss') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Vacancy and Credit Loss</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
