{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_noi_and_cash_flow_statement" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('get_concepts_noi') }}">Concepts</a></li>
    <li><a href="{{ url_for('get_concepts_noi_overview') }}">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>NOI and the Cash Flow Statement</h1>
    <h2>Learn how NOI is related to Cash Flow</h2>
    <div>
      <div class="float-left w-3/5">
        <p>
          The NOI Statement outlines all of the operating revenues and expenses of
          a property, but it doesn’t factor in Capital Expenses or Financing–these
          categories are itemized in the Cash Flow Statement (the next chapter of
          the course).
        </p>
        <p>
          The Cash Flow Statement includes all the items in the NOI Statement but
          also includes a section for Capital Expenditures and a section for
          Financing Activities–so the NOI Statement is the starting point of a
          Cash Flow Statement.
        </p>
        <p>
          In real estate, there will often be reference to expenses occurring
          “above or below the line”. The line that is being referred to is the
          NOI line in the Cash Flow Statement. Because so many of the valuation
          techniques involve NOI in their calculations, the distinction of items
          falling above or below the line can be quite significant. Properly
          categorizing expenses above or below the line is a key aspect of
          developing a realistic financial model of a property.
        </p>
      </div>
      <div class="w-2/5 float-right pl-4">
        <aside class="rounded-md border border-gray-300 shadow-lg px-6 py-4">
          <span style="padding-top: 0; padding-bottom: 0" class="text-gray-900 font-medium text-base">Further Reading:</span>
          <h2 class="py-2"><a target="_blank" href="#">Vacancy, Speculative Suites & the Cost of Tenant Turnover</a></h2>
          <img src="{{ url_for('img', path='/blog/2023-11-10/vacancy-speculative-suites-and-cost-of-tenant-turnover.webp') }}" alt="Like plane flights, rental space is a perishable good–potential revenue is lost forever once it takes off." class="rounded-md shadow-sm">
          <p class="text-gray-900 text-sm">
            Like plane flights, rental space is a perishable good–potential
            revenue lost forever and impossible to recapture. A deeper look at the
            cost of vacancy and speculative suites.
          </p>
          <a target="_blank" href="#" class="flex place-items-center hover:underline">
            <span class="text-base">Read article</span>
            <svg class="inline-block h-6" viewBox="0 0 24 24" fill="currentColor">
              <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
            </svg>
          </a>
        </aside>
      </div>
    </div>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_valuation_and_capitalization') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Valuation - Standard Direct Capitalization & NOI</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
