{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_exercise_1" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">Concepts</a></li>
    <li><a href="#">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>Exercise - Net Operating Income Statement</h1>
    <h2>Build a NOI Statement to complete a Direct Capitalization valuation</h2>
    <p>
      You’ve been tasked with building a Projected NOI Statement for the
      upcoming year for a light industrial property with a single tenant.
    </p>
    <p>
      The current tenant is paying <b>$3,000</b> per quarter. Their lease is expiring
      at the end of Quarter-2, and they won’t be renewing their lease. You
      believe it will take a full quarter to release the space and the current
      Market Rent for the space is <b>$3,500</b> per quarter.
    </p>
    <p>
      The total Operating Costs for the property is <b>$500</b> per quarter–50% of
      which are fixed, regardless of occupancy levels. Both the current tenant
      and future tenants pay 50% of the recoveries on the Operating Expenses.
      The property also has employee parking which earns <b>$150</b> per quarter when
      the property is occupied.
    </p>
    <p>
      The general vacancy reserve is <b>2%</b> of Potential Gross Income and the
      general credit loss reserve is <b>1%</b> of Potential Gross Income.
    </p>
    <div class="documentation-download">
      <img src="{{ url_for('img', path='/integration/excel.svg') }}" alt="Microsoft Excel Logo" class="h-10">
      <a download href="#" >NOI Statements - Exercise 1 Worksheet.xlsx</a>
      <a download href="#" title="Download" class="ml-auto hover:bg-gray-100 hover:text-gray-800 rounded-full p-2">
        <svg class="inline-block h-8" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"></path>
        </svg>
      </a>
    </div>
    <hr class="mt-6 mb-6 border-gray-300">
    <h2>Task 1</h2>
    <p>
      Use the spreadsheet to build a NOI Statement for the property, showing
      the lines for each quarter and a total for next year.
    </p>
    <div x-data="{showHint: false}" class="pb-4">
      <button type="button" @click="showHint = true" x-show="!showHint" class="button font-medium">
        Show hint
      </button>
      <div x-show="showHint" class="border border-green-500 rounded-md p-6">
        <span class="text-lg font-medium text-green-500 tracking-wide">Hint</span>
        <p>
          While the exercise uses rates per quarter, NOI is most often quoted as
          an annual basis, especially when being used to calculate property
          values. The total NOI across the four quarters is <b>$9,357</b>.
        </p>
      </div>
    </div>
    <hr class="mt-2 mb-6 border-gray-300">
    <h2>Task 2</h2>
    <p>
      Using the NOI Statement you just built, determine the value of the
      property using the Standard Direct Capitalization Method
      (Forward 12-Months NOI) with a <b>7.0%</b> Capitalization Rate.
    </p>
    <div x-data="{showHint: false}" class="pb-4">
      <button type="button" @click="showHint = true" x-show="!showHint" class="button font-medium">
        Show hint
      </button>
      <div x-show="showHint" class="border border-green-500 rounded-md p-6">
        <span class="text-lg font-medium text-green-500 tracking-wide">Hint</span>
        <p>
          Using the NOI Statement value using the Standard Direct Capitalization
          Method (Forward 12-Months NOI) can be calculated by dividing the NOI
          ($9,375) by the Capitalization Rate (7.0%) for a total value of
          <b>$133,664</b>.
        </p>
      </div>
    </div>
    <hr class="mt-2 mb-6 border-gray-300">
    <h2>Solution</h2>
    <p>Check your NOI Statement and valuation against the solution in this spreadsheet.</p>
    <div class="documentation-download">
      <img src="{{ url_for('img', path='/integration/excel.svg') }}" alt="Microsoft Excel Logo" class="h-10">
      <a download href="#" >NOI Statements - Exercise 1 Solution.xlsx</a>
      <a download href="#" title="Download" class="ml-auto hover:bg-gray-100 hover:text-gray-800 rounded-full p-2">
        <svg class="inline-block h-8" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"></path>
        </svg>
      </a>
    </div>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_valuation_tiered_direct_capitalization') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Valuation - Tiered Direct Capitalization & NOI</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
