{% extends "docs/concepts/layout.html.jinja2" %}
{% set context_page_name = "get_concepts_noi_valuation_tiered_direct_capitalization" %}

{% block article_content %}
  <ol class="documentation-breadcrumbs pt-8 pb-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">Concepts</a></li>
    <li><a href="#">NOI Statement</a></li>
  </ol>
  <article class="documentation-article">
    <h1>Valuation - Tiered Direct Capitalization & NOI</h1>
    <h2>How the NOI Statement is used in the Tiered Direct Capitalization method</h2>
    <p>
      The idea underpinning the Tiered method of Direct Capitalization is that
      portions of a property are so different in value that each component or
      “Tier” should be valued separately. The Tiered method still uses the
      Standard Direct Capitalization method, but instead of one valuation
      calculation, it is the sum of the value of each Tier.
    </p>
    <p>
      The Tiered method requires that separate NOI Statements for each Tier are
      built which combined add up to the NOI Statement for the property as a
      whole.
    </p>
    <hr class="mt-4 mb-4 border-gray-300">
    <h2>Example</h2>
    <p>
      Let’s say we are using the NOI Statement below which has been broken into
      two tiers–one for a low risk tenant which has a Capitalization Rate of 7%
      and a second, higher risk tenant which has a Capitalization Rate of 10%.
    </p>
    <p>
      How would the property be valued using the Tiered Capitalization method,
      this time using the Trailing 12-month NOI?
    </p>
    <figure>
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit">
        <table class="table-auto border-collapse font-medium">
          <thead>
            <tr>
              <th class="border-b border-gray-300 py-3 font-semibold text-left px-8 whitespace-nowrap"></th>
              <th class="border-b border-gray-300 py-3 font-semibold text-center px-8 whitespace-nowrap tracking-wide border-l" colspan="3">This Year's Actuals</th>
            </tr>
            <tr>
              <th class="border-b border-gray-300 py-3 font-semibold text-left px-8 whitespace-nowrap">Line Items</th>
              <th class="border-b border-gray-300 py-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide border-l">Tier 1<br>Low Risk Tenant</th>
              <th class="border-b border-gray-300 py-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Tier 2<br>Higher Risk Tenant</th>
              <th class="border-b border-gray-300 py-3 font-semibold text-right px-8 whitespace-nowrap tracking-wide">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Actual Base Rent</th>
              <td class="border-b py-3 text-right px-8 font-semibold border-l">$1,450</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$1,500</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$2,950</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Additional Rent & Other Revenue</th>
              <td class="border-b py-3 text-right px-8 border-l">$1,525</td>
              <td class="border-b py-3 text-right px-8">$1,625</td>
              <td class="border-b py-3 text-right px-8">$3,150</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Potential Base Rent</th>
              <td class="border-b py-3 text-right px-8 font-semibold border-l ">$2,975</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$3,125</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$6,100</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Vacancy & Credit Loss<sup>*</sup></th>
              <td class="border-b py-3 text-right px-8 border-l">-</td>
              <td class="border-b py-3 text-right px-8">-</td>
              <td class="border-b py-3 text-right px-8">-</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Effective Gross Income (EGI)</th>
              <td class="border-b py-3 text-right px-8 font-semibold border-l ">$2,975</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$3,125</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$6,100</td>
            </tr>
            <tr class="bg-white">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Operating Expenses</th>
              <td class="border-b py-3 text-right px-8 text-red-500 border-l">-$950</td>
              <td class="border-b py-3 text-right px-8 text-red-500">-$950</td>
              <td class="border-b py-3 text-right px-8 text-red-500">-$1,900</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Net Operating Income</th>
              <td class="py-3 text-right px-8 font-semibold border-l">$2,025</td>
              <td class="py-3 text-right px-8 font-semibold">$2,175</td>
              <td class="py-3 text-right px-8 font-semibold">$4,200</td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="text-left"><sup>*</sup> The NOI Statement for actual results does not have entries for either the Vacancy or Credit Loss lines.</small>
    </figure>
    <p>
      The first step is splitting the total property into two Tiers–a tier for
      the lower risk tenant and a tier for the higher risk tenant.
    </p>
    <figure>
      <div class="rounded-md shadow-sm border border-gray-300 overflow-auto max-w-fit">
        <table class="table-auto border-collapse font-medium">
          <tbody>
            <tr class="bg-white">
              <th class="border-b py-3 font-semibold text-left px-8 whitespace-nowrap">Net Operating Income</th>
              <td class="border-b py-3 text-right px-8 font-semibold border-l">$2,025</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$2,175</td>
              <td class="border-b py-3 text-right px-8 font-semibold">$4,200</td>
            </tr>
            <tr class="bg-gray-50">
              <th class="border-b py-3 font-medium text-left px-8 pl-12 whitespace-nowrap text-gray-700">Capitalization Rate</th>
              <td class="border-b py-3 text-right px-8 border-l">7.0%</td>
              <td class="border-b py-3 text-right px-8">10.0%</td>
              <td class="border-b py-3 text-right px-8">8.29%<sup>**</sup></td>
            </tr>
            <tr class="bg-white">
              <th class="py-3 font-semibold text-left px-8 whitespace-nowrap">Valuation</th>
              <td class="py-3 text-right px-8 font-semibold border-l">$28,929</td>
              <td class="py-3 text-right px-8 font-semibold">$21,750</td>
              <td class="py-3 text-right px-8 font-semibold">$50,679</td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="text-left">
        <sup>**</sup> The combined Capitalization Rate for the property is
        calculated by dividing the total NOI by the total Valuation. It is equal
        to the weighted average (by NOI) of the Capitalization Rates of the
        tiers.
      </small>
    </figure>
    <p>
      The value of the property is $50,679, using the Tiered Capitalization
      method is calculated by adding together the values of each of the two
      tiers.
    </p>
    <ul class="flex flex-col gap-1 list-disc pl-8">
      <li class="text-gray-800 text-base font-medium">
        The value of Tier 1 ($28,929) is calculated by dividing the actual NOI
        for the next year ($2,025) by the Capitalization Rate (7%).
      </li>
      <li class="text-gray-800 text-base font-medium">
        The value of Tier 1 ($21,750) is calculated by dividing the actual NOI
        for the next year ($2,175) by the Capitalization Rate (10%).
      </li>
    </ul>
    <p>
      Notice how the Capitalization Rate plays a huge role in determining the
      value of each Tier. While Tier 2 has a higher NOI, the higher
      Capitalization Rate causes the valuation to be much lower than the Tier 1
      valuation.
    </p>
    <div class="flex justify-end w-full text-base py-6">
      <a href="{{ url_for('get_concepts_noi_exercise_2') }}" class="text-blue-500 hover:underline flex place-items-center">
        <span>Next: Exercise - Tiered Direct Capitalization Valuation</span>
        <svg class="inline-block h-8" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"></path>
        </svg>
      </a>
    </div>
  </article>
{% endblock article_content %}
