{% extends "blog/layout.html.jinja2" %}

{% block blog_post %}
  <div>
    <img itemprop="image" src="{{ url_for('img', path=post.teaser_image.url) }}" alt="{{ post.teaser_image.alt }}" class="w-full border rounded-md md:shadow-md">
    <p>The term squeeze is used to describe situations in finance where market pressure begins to force participants to make unprofitable decisions. Squeezes often feature feedback loops that further accelerate the problem. A recent example is the GameStop Short Squeeze where retail investors kept buying GameStop shares, forcing short sellers to also buy to cover their position, thereby pushing the price up even further.</p>
    <p>Stuck between a market that is demanding flexible leases and an ecosystem of valuers, lenders, regulators and investors that is optimized for traditional, long-term leasing, landlords are facing a potential market squeeze. Given the Gordian Knot of structural issues, it is difficult to see a simple way to avoid this squeeze without a large loss in value.</p>

    <h2>Landlords as a Financial Intermediary</h2>
    <p>Like bridges, utilities and telco networks, office buildings are large, capital intensive investments that need to be financed using long-term debt. To reduce the risk to their lenders and investors, landlords try to match their long-term financing commitments with long-term leases. Lease defaults are bad, so landlords look for tenants with high credit ratings. Ideally the tenants are on net leases, so operating expenses can be passed on to the tenants and the net income becomes even more predictable.</p>
    <p>Landlords act almost like a financial intermediary, accessing money from the capital markets and lending it, through the form of a lease, to tenants who either can’t or choose not to buy property themselves.</p>
    <p>The system is clean and easy to understand from a financial perspective and with long-term predictable cash flows, commercial real estate behaves very similarly to the fixed income market. So it is no surprise that an entire ecosystem of valuations, lenders, operators and investors think of the commercial real estate industry through the lens of fixed income and therefore highly prize long tenure leases.</p>

    <h2>Fundamental Change in Demand</h2>
    <p>As <a target="_blank" href="https://www.linkedin.com/in/calebparker/">Caleb Parker</a> often notes, “the future of work is the future of the office” and with increased flexibility of how, where and when people work, the office market will need to follow suit. This change of demand is compounded by the fact that in a lot of cases, occupiers simply prefer more flexibility and services from their landlord.</p>
    <p>While there is a lot of disagreement on what the exact future of the office is going to be, almost everyone can agree that demand has been permanently scrambled. The often cited prediction from JLL's <a target="_blank" href="https://www.linkedin.com/in/jacobbates/">Jacob Bates</a> is that <a target="_blank" href="https://www.jll.ca/en/trends-and-insights/investor/flex-office-space-market-poised-for-more-rapid-growth#:~:text=Still%2C%20JLL%20expects%20flexible%20workspace,by%202030%2C”%20notes%20Bates.">30% of the office market will be flexible by 2030</a>. Given that the current office ecosystem of investors, lenders, valuers and operators relies on the long-term predictability of traditional leasing, this is a huge problem.</p>
    <p>In absolute terms, the numbers are barely human-scaled. To get a rough sense of the size of the issue, we can combine data on the global commercial real estate market from <a target="_blank" href="https://prodapp.epra.com/media/EPRA_Total_Markets_Table_-_Q3-2022_1666172770848.pdf">EPRA</a> with the ratio of the commercial market that is office from <a target="_blank" href="https://www.reit.com/sites/default/files/Size%20of%20CRE%20market%202019%20full.pdf">Nareit</a>. This provides us with a rough estimate of the total market value of the world’s office market: $5.3 trillion USD.</p>

    <h2>Mechanics of the Office Tenure Squeeze</h2>
    <p>The crux of the issue is how the commercial real estate industry values flexible leases and income from additional services versus longer tenured leases.</p>
    <p>To date, the amount of flexible leasing added to the market has been small enough that it could be accounted for by tweaking the capitalization rate. But there is no agreed upon valuation methodology that accurately accounts for changes in the risk profile from a sizable switch to flexible leasing.</p>
    <p>All the current valuation methodologies assume flexible leasing equates to income volatility, but that is unlikely to be an absolute rule. Yet the valuation incentives will nudge landlords away from providing the actual product that the market is demanding, compounding the problem.</p>
    <p>Landlords that wish to stay the course and continue to lease traditionally will face the double headwinds of reduced demand from tenants and a growing supply of alternative spaces as tenants begin to right-size their leasing footprint. Ultimately this will put downward pressure on rents and occupancies, forcing net income and valuations lower as well.</p>
    <p>Valuations are tied to lending through debt covenants. Landlords that can not maintain a significantly high enough loan-to-value ratio could face additional financial pressure.</p>
    <p>Valuations also find their way into financial disclosures for publicly traded real estate companies. Because changes in real estate value are reported as income—even if the company has no plans to realize the gains or losses—the move from a quarterly revaluation can easily dwarf profitable operations.</p>
    <p>Landlords will be faced with a potentially untenable situation - they must either risk lower net incomes and occupancy levels by holding fast to traditional leases or accept valuation decreases in exchange for the cash flow from flexible leasing.</p>

    <h2>Cutting the Gordian Knot</h2>
    <p>Outside of commercial real estate, many businesses rely on flexible and less predictable income and can still access debt and equity in the capital market, but these businesses can quantify the risks they are taking on, allowing the capital markets to price them efficiently. An American multinational chain of coffeehouses is able to access the debt market when there is no ongoing commitment from their customers.</p>
    <figure class="pl-2 pb-2 flex flex-col place-items-center gap-2 pt-2">
      <img class="rounded-md" src="{{ url_for('img', path='/blog/2023-01-18/coffeeshop-bond-issue.png') }}" alt="American multinational chain of coffeehouses bond issue">
      <figcaption class="text-gray-700">American multinational chain of coffeehouses bond issue</figcaption>
    </figure>
    <p>I expect the profile of the investors and lenders will eventually need to change in order to match the new risk profile of the industry. I can imagine many offices increasing in value with the new sources of income, but also changing their capital stack to include less debt.</p>
    <p>Without a valuation methodology that accurately quantifies risk, however, we’re left with a structural inefficiency in which landlords become squeezed. Meanwhile, flexible leasing continues to grow, exposing trillions of dollars in assets to the risk of mispricing. As with all market mispricing, we would expect an eventual correction—a looming threat to some, but an opportunity for others who prepare.</p>
  </div>
{% endblock %}
