{% extends "blog/layout.html.jinja2" %}

{% block blog_post %}
  <div>
    {% if analytics_consent %}
      <figure class="flex flex-col gap-3 text-center">
        <div class="relative w-full rounded-md border border-gray-300 relative overflow-hidden" style="aspect-ratio: 16 / 9;">
          <a target="_blank" href="https://www.youtube.com/watch?v=yBvXgAu_Z0M">
            <img class="" src="{{ url_for('img', path='/blog/2023-05-04/video-thumbnail-landlords-are-facing-a-squeeze.webp') }}" alt="How office landlords risk being squeezed on YouTube">
            <div class="absolute top-0 bottom-0 w-full flex place-items-center justify-center">
              <svg class="block h-20 mt-12" viewBox="0 0 461.001 461.001">
                <path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
                	c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
                	C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
                	c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"></path>
              </svg>
            </div>
          </a>
        </div>
        <figcaption class="text-gray-700">How office landlords risk being squeezed on YouTube</figcaption>
      </figure>
    {% else %}
      <div class="relative w-full rounded-md overflow-hidden" style="aspect-ratio: 16 / 9;">
        <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/yBvXgAu_Z0M" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    {% endif %}
    <p>{{ post.teaser }}</p>
  </div>
{% endblock %}
