{% extends "blog/layout.html.jinja2" %}

{% block blog_post %}
  <div>
    <div class="relative w-full rounded-md overflow-hidden" style="aspect-ratio: 16 / 9;">
      <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/41XMh-WBT8E?si=ARiRuEb3XJHmxovn" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
    <p>{{ post.teaser }}</p>
  </div>
{% endblock %}
