{% extends "blog/layout.html.jinja2" %}

{% block blog_post %}
  <div>
    {% if analytics_consent %}
      <figure class="flex flex-col gap-3 text-center">
        <div class="relative w-full rounded-md border border-gray-300 relative overflow-hidden" style="aspect-ratio: 16 / 9;">
          <a target="_blank" href="https://www.youtube.com/watch?v=koMkqtsKmHs">
            <img class="" src="{{ url_for('img', path='/blog/2024-06-17/caleb-parker-show-podcast.webp') }}" alt="Caleb Parker Show Podcast - Highlights on YouTube">
            <div class="absolute top-0 bottom-0 w-full flex place-items-center justify-center">
              <svg class="block h-20 mt-5" viewBox="0 0 461.001 461.001">
                <path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
                	c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
                	C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
                	c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"></path>
              </svg>
            </div>
          </a>
        </div>
        <figcaption class="text-gray-700">Caleb Parker Show Podcast - Highlights on YouTube</figcaption>
      </figure>
    {% else %}
      <div class="relative w-full rounded-md overflow-hidden" style="aspect-ratio: 16 / 9;">
        <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/koMkqtsKmHs" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    {% endif %}
    <p>In early June I had the opportunity to join <a target="_blank" href="https://uk.linkedin.com/in/calebparker">Caleb Parker</a> for a special episode of his podcast the <b>Caleb Parker Show</b>. We covered a wide range of topics, including the future of financing, valuations and the potential shift towards permanent capital in office real estate. We also chatted about my experience as a landlord, shifting from traditional office to Space-as-a-Service and the challenges with valuing and financing flex properties.</p>
    <p>Listen to the podcast and other episodes from the <b>Caleb Parker Show</b> on <a target="_blank" href="https://podcasts.apple.com/ca/podcast/workbold-podcast/id1497599549?i=1000657887240">Apple Podcasts</a> and <a target="_blank" href="https://open.spotify.com/episode/0J29ZGp93mc7OhTbGUKVrf?si=gijWiRE-StaE0cuRMHASbA">Spotify</a>.</p>
    <ul class="flex flex-col gap-4">
      <li><iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" height="175" style="width:100%;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/the-caleb-parker-show/id1497599549?i=1000657887240&theme=auto"></iframe></li>
      <li><iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0J29ZGp93mc7OhTbGUKVrf?utm_source=generator&theme=0" width="100%" height="152" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
    </ul>
  </div>
{% endblock %}
